<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Travler-员工管理</title>
	<base href="http://www.tours.com/admin/">
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>
<style>
.upd{
	float: right;
}
</style>
<body>
<div id="pageAll">
<div class="pageTop">
	<div class="page">
		<img src="img/coin02.png" /><span><a href="index/index" target="_top">首页</a>&nbsp;-&nbsp;-</span>&nbsp;后台人事管理&nbsp;-&nbsp;-员工管理
	</div>
</div>

<div class="page">
	<!-- user页面样式 -->
	<div class="connoisseur">
		<div class="conform">
				<div class="cfD">
					<input class="userinput" id="u_name" type="text" placeholder="输入用户名" name="accounts"/>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					<input class="userinput vpr" id="u_password" type="password" placeholder="输入用户密码" name="password"/>
					<select name="role_id" id="">
						<option value="0">请选择</option>
						{volist name='rolelist' id='vv'}
						<option value="{$vv.role_id}">{$vv.role_name}</option>
						{/volist}
					</select>
					<button class="userbtn tj" id="register">添加</button>
				</div>
		</div>
		<!-- user 表格 显示 -->
		<div class="conShow">
			<table border="1" cellspacing="0" cellpadding="0">
				<tr>
					<td width="66px" class="tdColor tdC">序号</td>
					<td width="435px" class="tdColor">用户名</td>
					<td width="400px" class="tdColor">会员等级</td>
					<td width="400px" class="tdColor">状态</td>
					<td width="530px" class="tdColor">最够登录时间</td>
					<td width="230px" class="tdColor">操作</td>
				</tr>
				{volist name='adminlist' id='v'}
				<tr height="40px">
					<td>{$v.admin_id}</td>
					<td>{$v.accounts}</td>
					<td><span class="name">{$v.role_name}</span>
						<select name="role_name" class="role_name" dss="{$v.admin_id}" hidden>
							{volist name='rolelist' id='vv'}
							{if condition="$v.role_id eq $vv.role_id"}
							<option value="{$vv.role_id}" selected>{$vv.role_name}</option>
							{else /}
							<option value="{$vv.role_id}">{$vv.role_name}</option>
							{/if}
							{/volist}
						</select>
					<a href="javascript:;" class="upd" value="{$v.admin_id}" title="点击进行修改">
							<img class="operation" src="img/update.png">
						</a>
					</td>

					<td>{if($v.status==1)}<font color="green">正常</font>
						{else/}
						<font color="red">已冻结</font>{/if}</td>
					<td>{$v.last_time}</td>
					<td>{if($v.status==1)}
						<img class="operation delban del" src="img/close.png" names="{$v.status}" name="{$v.admin_id}" title="点击冻结该账号">
						{else/}
						<img class="operation delban del" src="img/open.png" names="{$v.status}" name="{$v.admin_id}" title="点击激活该账号">
						{/if}
					</td>
				</tr>
				{/volist}
			</table>
			<script>
			var status=0
			$(document).on("click",".upd",function(){
			    var obj = $(this)
			    if(status==0){
					obj.parents("tr").children().children(".name").hide()
			    	obj.parents("tr").children().children(".role_name").show()
			    	status=1
			    }else{
			    	obj.parents("tr").children().children(".name").show()
			    	obj.parents("tr").children().children(".role_name").hide()
			    	status=0
			    }
			});
			</script>
			<div class="paging"></div>
		</div>
		<!-- user 表格 显示 end-->
	</div>
	<!-- user页面样式end -->
</div>
	{$adminlist->render()}
</div>
</body>

<script type="text/javascript">
		//管理员删除
        $('.del').click(function () {
        	var status = $(this).attr("names")
        	var admin_id = $(this).attr("name")
        	if(status==1){
				var tk = confirm("是否冻结该账号")
        	}else{
        		var tk = confirm("是否激活该账号")
        	}
            if(tk == true){
                $.ajax({
                    type:"POST",
                    url:"{:Url('Admin/change_AdminStatus')}",
                    data:{"admin_id":admin_id,"status":status},
                    success: function(msg){
                        if(msg == 1){
                            alert('操作成功')
                            window.location.reload()
                        }else{
                            alert('出错了！！！')
                        }
                    }
                })
			}else {
				return false
			}
        })
        //管理员添加
        $('.tj').click(function () {
            var accounts = $('input[name=accounts]').val();
            var password = $('input[name=password]').val();
            var role_id = $('select[name=role_id]').val();
            if(accounts==""||password==""||role_id==""){
            	alert("帐号、密码、角色不能为空");
            	return false;
            }
            data = {
                'accounts':accounts,
                'password':password,
                'role_id':role_id
			};
            $.ajax({
                type: "POST",
                url: "{:url('admin/admin_add')}",
                data: data,
                success: function(msg){
					if(msg == 1){
					    alert('该账号已经存在');
					}else if(msg == 2){
						window.location.href="{:url('admin/adminlist')}"
					}else if(msg == 3){
					    alert('添加失败');
					}
                }
            });
        });
        //修改管理员的角色
        $(document).on("change",".role_name",function (){
        	var role_id = $(this).val();
        	var admin_id = $(this).attr('dss');
            data = {
                'role_id':role_id,
                'admin_id':admin_id
            };
            $.ajax({
                type: "POST",
                url: "{:url('admin/admin_save')}",
                data: data,
                success: function(msg){
					if(msg == 0){
                        window.location.href="{:url('admin/adminlist')}"
					}else {
					    alert('修改失败');
					}
                }
            });
    	});


</script>
</html>