<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com/" />
<title>Traveler-首页</title>
    <base href="http://www.tours.com/">
<meta content="Traveler" name="keywords" />
<meta content="Traveler" name="description" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/lightbox.css" rel="stylesheet" type="text/css" />
<link href="css/zhuce.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/lrtk.js"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>
</head>
<body>
<div class="top_box">
  <div class="top_nav">
    <div class="top_left"><font color="red">欢迎来到Traveler官方网站，我们竭诚为您服务！</font></div>

    <div class="top_right">
      {if(empty($username))}
        <div class="login">
            <a href="{:url('login/login')}">登录</a></div>
      <div class="regist">
        <ul>
          <li><a href="{:url('login/register')}">免费注册</a></li>
        </ul>
      </div>
        {else/}
        <div class="login"><a><font color="red" id="user" style="font-size:15px;">{$username}</font></a></div>
            <div class="regist">
                <ul><li><a href="{:Url('Index/go_out')}"><font color="black">退出</font></a></li></ul>
            </div>
        
        {/if}

    </div>
  </div>
</div>

<div class="header">
    <div class="logo"><a href="javascript:void(0)"><img src="images/logo.png" width="194" height="55" /></a></div>
    <div class="logo01"><a href="javascript:void(0)"><img src="images/logo_01.png" width="368" height="40" /></a></div>
    <div class="logo02"><a href="javascript:void(0)"><img src="images/logo_02.png" width="387" height="45" /></a></div>
</div>

<div class="top_menus">
<div class="menus">
    <ul>
        <li style="background-color:red;"><a href="{:url('Index/index')}" title="首页">首页</a></li>
        <li><a href="{:url('Order/order_list')}" title="我的订单">我的订单</a></li>
        <li><a href="{:url('News/new_list')}" title="新闻动态">新闻动态</a></li>
        <li><a href="{:url('Line/line')}" title="精选线路">精选线路</a></li>
        <li><a href="{:url('Spot/spot')}" title="景点专列">景点专列</a></li>
        <li><a href="{:url('Comment/comment')}" title="查看评论">查看评论</a></li>
        <li><a href="{:url('Collection/my_collection')}" title="我的收藏">我的收藏</a></li>
    </ul>
</div>

      <form action="{:url('Line/search')}" method="post">
        	<dl class="top_search">
            	<dt><input type="text"placeholder="成百上千旅游路线，总有一款适合您！" name="title" class="input_text" /></dt>
                <dd><input type="image" class="input_image" src="images/dd_bg.png" /></dd>
            </dl>
        </form>
</div>

<div class="banner">
<div class="focus">
    <ul class="rslides f426x240">
         <li><a href="#" target="_blank"><img src="images/banner.jpg" /></a></li>
        <li><a href="#" target="_blank"><img src="images/banner1.jpg" /></a></li>
        <li><a href="#" target="_blank"><img src="images/banner2.jpg" /></a></li>
    </ul>
</div>
</div>

<div class="tourism">
	<div class="tourism_left">
      <div id="menu01"><span><a href="{:url('Spot/spot')}">+更多</a></span>
<!--tag标题-->
    <ul id="nav01">
			<li><a href="javascript:void(0)" title="旅游行列" class="selected">旅游行列</a></li>
    </ul>
</div>
 <div class="img-scroll">
      <div class="next1"><img src="images/left.png" width="40" height="70"></div>
      <div class="prev1"><img src="images/right.png" width="40" height="70"></div>
      <div class="img-list">
          {volist name='routelist' id='v'}
        <ul>
          <li>
            <dl>
              <dd><a href="#" title="{$v.route_imgs}"><img src="/admin/{$v.route_imgs}" width="300" height="430"/></a></dd>
            </dl>
          </li>
        </ul>
          {/volist}
      </div>
      <script type="text/javascript" src="js/gun.js"></script>
    </div>
    
<!--二级菜单-->
    <div id="menu_con">
		{volist name='indexlist' id='v'}
					<div class="tag" style="display:block">
						<ul>
							  <li>
									<a href="{:url('Spot/spot_details')}?id={$v.spot_id}" title="{$v.spot_name}"><img src="/admin/{$v.spot_images}" alt="{$v.spot_images}" /></a>
									<span><a href="{:url('Spot/spot_details')}?id={$v.spot_id}" title="{$v.spot_name}">{$v.spot_name}</a></span>
								</li>
						 </ul>
					</div>
		{/volist}
        <div class="clear"></div>
</div>
<script type=text/javascript src="js/home.js"></script>
</div>

    <div class="tourism_right">
    	<div class="tour_ti"><img src="images/list.jpg" width="240" height="60" /></div>
        <div class="tour_li">
			{volist name='routelist' id='v'}
        	<ul>
            	<li> 
                <a href="{:url('Line/line')}?id={$v.route_id}"><img class="pr_img" src="/admin/{$v.route_imgs}" width="100" height="80" /></a>
                <span class="pr1"><a href="#" title="{$v.route_name}">{$v.route_name}</a></span>
                <span class="time">￥{$v.money}元</span>
                <span class="pr2"><a href="{:url('Line/line')}?id={$v.route_id}">查看详情</a></span>
                 <div class="clear"></div>
                </li>
            </ul>
			{/volist}
        </div>

    </div>
    
	<div class="clear"></div>
</div>

<div class="m1"><img src="images/sy_menus.jpg" width="1200" height="120" /></div>

<div class="footer">
	<ul>
    	<li><a href="#">关于我们</a></li>
        <li><a href="#">联系我们</a></li>
        <li><a href="#">员工风采</a></li>
        <li><a href="#">网站地图</a></li>
        <li><a href="#">帮助中心</a></li>
        <li><a href="#">友情链接</a></li>
    </ul>
</div>

<div class="foot">
Traveler-旅行者国际旅行社有限公司 旅游经营许可证：J-BJ-01260<br/>
北京旅行者旅游集团分公司 旅游经营许可证号：J-BJ-CJ00010 <br/>
Copyright © 2016-2020 北京旅行者国际旅行社有限公司 版权所有　管理备案号：京ICP备10202078号-2<br/>
旅游局投诉电话：<span>12301</span>&nbsp;&nbsp;技术支持：<a href="http://www.tours.com/">云畅网络</a>
<ul>
	<li><img src="images/copyright01.jpg" width="103" height="32" alt="经营性网站 备案信息" /></li>
    <li><img src="images/copyright02.jpg" width="103" height="32" alt="可信网站 信用评价" /></li>
    <li><img src="images/copyright03.jpg" width="103" height="32" alt="可信网站 信用评价" /></li>
</ul>
</div>
</body>
</html>
