<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="order by dede58.com/" />
    <title>Traveler-确认订单</title>
    <base href="http://www.tours.com/">
    <meta content="Traveler" name="keywords" />
    <meta content="Traveler" name="description" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/lightbox.css" rel="stylesheet" type="text/css" />
    <link href="css/zhuce.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="js/lrtk.js"></script>
    <script type="text/javascript" src="js/lightbox.js"></script>
    <script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>
</head>
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size:15px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }
    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #E6E6FA;
        background-color: #dedede;
    }
    table.gridtable td {
           border-width: 1px;
           padding: 8px;
           border-style: solid;
           border-color: #666666;
           background-color: #ffffff;
       }
</style>
<body>
<div class="top_box">
    <div class="top_nav">
        <div class="top_left"><font color="red">欢迎来到Traveler官方网站，我们竭诚为您服务！</font></div>
        <div class="top_right">
            {if(empty($username))}
            <div class="login">
                <a href="{:url('login/login')}">登录</a></div>
            <div class="regist">
                <ul>
                    <li><a href="{:url('login/register')}">免费注册</a></li>
                </ul>
            </div>
            {else/}
            <div class="login"><a><font color="red" id="user" style="font-size:15px;">{$username}</font></a></div>
            <div class="regist">
                <ul><li><a href="{:Url('Index/go_out')}"><font color="black">退出</font></a></li></ul>
            </div>

            {/if}

        </div>
    </div>
</div>

<div class="header">
    <div class="logo"><a href="#"><img src="images/logo.png" width="194" height="55" /></a></div>
    <div class="logo01"><a href="#"><img src="images/logo_01.png" width="368" height="40" /></a></div>
    <div class="logo02"><a href="#"><img src="images/logo_02.png" width="387" height="45" /></a></div>
</div>

<div class="top_menus">
    <div class="menus">
        <ul>
            <li><a href="{:url('Index/index')}" title="首页">首页</a></li>
            <li style="background-color:red;"><a href="{:url('Order/order_list')}" title="我的订单">我的订单</a></li>
            <li><a href="{:url('News/new_list')}" title="新闻动态">新闻动态</a></li>
            <li><a href="{:url('Line/line')}" title="精选线路">精选线路</a></li>
            <li><a href="{:url('Spot/spot')}" title="景点专列">景点专列</a></li>
            <li><a href="{:url('Comment/comment')}" title="查看评论">查看评论</a></li>
            <li><a href="{:url('Collection/my_collection')}" title="我的收藏">我的收藏</a></li>
        </ul>
    </div>

<form action="{:url('Line/search')}" method="post">
            <dl class="top_search">
                <dt><input type="text"placeholder="成百上千旅游路线，总有一款适合您！" name="title" class="input_text" /></dt>
                <dd><input type="image" class="input_image" src="images/dd_bg.png" /></dd>
            </dl>
        </form>
</div>

<div class="main">

    <!--tag标题-->
    <div id="menu03">
        <div class="paishe_bt">
            <h1>确认订单</h1>
            <ul id="nav03">
                <li class="selectall"> <a href="javascript:void(0)" onclick="selectTag('tagContent0',this)">支付</a></li>
            </ul>
        </div>
        <div class="paishe_catpos">当前位置：<a href="index.html" title="首页">首页</a> > <a href="">确认订单</a> ></div>
    </div>

    <!--二级菜单-->
    <div id="menu_con04">

        <div style="display: block;" class="tagContent01" id="tagContent0">

            <div class="album">
                <script type="text/javascript">
                    jQuery(".album").slide({
                        mainCell : ".bd ul",
                        effect : "top",
                        trigger : "click",
                        autoPlay : true
                    });
                </script>
            </div>
            <center>
            <table class="gridtable" style="text-align:center;">
                <tr>
                    <th width="300px">订单编号</th>
                    <th width="170px">订单名称</th>
                    <th width="100px">旅游天数</th>
                    <th>下单时间</th>
                    <th width="130px">单价</th>
                    <th width="60px">票数</th>
                    <th width="130px">总价</th>
                </tr>
                <tr>
                    <td style="font-weight:bold;">{$order.order_number}</td>
                    <td style="font-weight:bold;">{$order.order_name}</td>
                    <td>{$order.days}</td>
                    <td>{$order.order_time}</td>
                    <td>￥{$order.price}/人</td>
                    <td>{$order.num}</td>
                    <td style="font-weight:bold;color: red">￥{$order.order_money}</td>
                </tr>
            </table>
            
            </center>
                <br />
                <form action="http://www.tours.com/alpay/pagepay/pagepay.php" method="post">
                <input type="hidden" name="WIDout_trade_no" value="{$order.order_number}"/>
                <input type="hidden" name="WIDsubject" value="{$order.order_name}"/>
                <input type="hidden" name="WIDtotal_amount" value="{$order.order_money}"/>
                <input type="hidden" name="WIDbody" value="“旅行者”票数网上支付"/>
                <input type="submit" style="font-size:18px;color:#FFFFFF;width:110px;height:35px;float:right;background-color:red;" value="结算"/>
            </form>
            <!-- <a href="{:Url('Order/pay')}" ><img src="images/zhifu1.png" width="110" height="35" class="zf"/></a> -->
                
        </div>
        <div class="clear"></div>
    </div>
    <div class="m4">
        <div class="m4_left">
            <ul>
                <h1>官网会员注册问题</h1>
                <li><a href="#" title="手机注册和邮箱注册有哪些...">手机注册和邮箱注册有哪些...</a></li>
                <li><a href="#" title="网站注册会员有什么好处？">网站注册会员有什么好处？</a></li>
                <li><a href="#" title="会员注册有什么优惠政策？">会员注册有什么优惠政策？</a></li>
                <li><a href="#" title="注册成为会员需要哪些资料...">注册成为会员需要哪些资料...</a></li>
            </ul>

            <ul>
                <h1>旅游行程问题</h1>
                <li><a href="#" title="手机注册和邮箱注册有哪些...">手机注册和邮箱注册有哪些...</a></li>
                <li><a href="#" title="网站注册会员有什么好处？">网站注册会员有什么好处？</a></li>
                <li><a href="#" title="会员注册有什么优惠政策？">会员注册有什么优惠政策？</a></li>
                <li><a href="#" title="注册成为会员需要哪些资料...">注册成为会员需要哪些资料...</a></li>
            </ul>

            <ul>
                <h1>支付和退款问题</h1>
                <li><a href="#" title="手机注册和邮箱注册有哪些...">手机注册和邮箱注册有哪些...</a></li>
                <li><a href="#" title="网站注册会员有什么好处？">网站注册会员有什么好处？</a></li>
                <li><a href="#" title="会员注册有什么优惠政策？">会员注册有什么优惠政策？</a></li>
                <li><a href="#" title="注册成为会员需要哪些资料...">注册成为会员需要哪些资料...</a></li>
            </ul>

        </div>

        <div class="m4_right">
            <dl>
                <dt><img src="images/weixin.jpg" width="130" height="130" /><span>扫一扫微信关注</span></dt>
                <dd>
                    <span style="font-size:20px;">家天下旅游</span><br/>
                    <span>服务热线：0531-81760872</span><br/>
                    <span style="color:#000;">地址：济南市市中区民生大街22号三箭银苑A座2303-1</span>
                </dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>


    <div class="footer">
        <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">员工风采</a></li>
            <li><a href="#">网站地图</a></li>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">友情链接</a></li>
        </ul>
    </div>

    <div class="foot">
        山东家天下国际旅行社有限公司 旅游经营许可证：L-SD-01260<br/>
        山东交运旅游集团济南家天下分公司 旅游经营许可证号：L-SD-CJ00010 <br/>
        Copyright © 2016-2020 山东家天下国际旅行社有限公司 版权所有　管理备案号：鲁ICP备10202078号-2<br/>
        旅游局投诉电话：<span>12301</span>&nbsp;&nbsp;技术支持：<a href="http://www.jnyunchang.com/">云畅网络</a>
        <ul>
            <li><img src="images/copyright01.jpg" width="103" height="32" alt="经营性网站 备案信息" /></li>
            <li><img src="images/copyright02.jpg" width="103" height="32" alt="可信网站 信用评价" /></li>
            <li><img src="images/copyright03.jpg" width="103" height="32" alt="可信网站 信用评价" /></li>
        </ul>
    </div>
</body>
</html>