<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Travler-景点图片</title>
<base href="http://www.tours.com/admin/">
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="img/coin02.png" /><span><a href="Index/index" target="_top">首页</a>&nbsp;-&nbsp;<a
					href="#">景点管理</a>&nbsp;-</span>&nbsp;景点图片添加
			</div>
		</div>
		<div class="page ">
			<div class="banneradd bor">
				<div class="baTop">
					<span>添加景点图片</span>
				</div>
				<form action="{:Url('Spot/img_add_do')}" method="post" enctype="multipart/form-data">
				<div class="baBody">
					<div class="bbD">
						景点名称：<span>{$data.spot_name}</span>
						<input type="hidden" name="spot_id" value="{$data.spot_id}"/>
					</div>
					<div class="bbD">
						景点图片：
						<div class="bbDd">
							<div class="bbDImg">+</div>
							<input type="file" class="file" name="img" />
						</div>
					</div>
					<div class="bbD">
						设为主图：<label><input type="radio" name="is_host" value="1"/>是</label> <label><input type="radio" name="is_host" value="0" checked/>否</label>
					</div>
					
					<div class="bbD">
						<p class="bbDP">
							<input type="submit" class="btn_ok btn_yes"/>
							<a class="btn_ok btn_no" target="_top" href="Index/index">取消</a>
						</p>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>