<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理员管理-有点</title>
<link rel="stylesheet" type="text/css" href="css/css.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>

<body>
<div id="pageAll">
<div class="pageTop">
	<div class="page">
		<img src="img/coin02.png" /><span><a href="{:Url('Index/main')}">首页</a>&nbsp;-&nbsp;-</span>&nbsp;管理员管理
	</div>
</div>

<div class="page">
	<!-- user页面样式 -->
	<div class="connoisseur">
		<div class="conform">
			<form>
				<div class="cfD">
					<input class="userinput" id="u_name" type="text" placeholder="输入用户名" />&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					<input class="userinput vpr" id="u_password" type="password" placeholder="输入用户密码" />
					<button class="userbtn" id="register">添加</button>
				</div>
			</form>
		</div>
		<script>
		$(document).on("click","#register",function(){
			var u_name=$("#u_name").val()
			var u_password=$("#u_password").val()
			if(confirm("确定添加"+u_name+"用户？")){
				$.ajax({
				data:{'u_name':u_name,'u_password':u_password},
				url:"{:U('Login/register_do')}",
				type:"post",
				success:function(msg){
					if(msg==1){
						alert("添加成功")
						window.location.href="{:U('User/user')}";
					}else if(msg==2){
						alert("添加失败")
					}else{
						alert("会员已存在")
					}
				}
			})
			}else{
				
			}
		})
		</script>
		<!-- user 表格 显示 -->
		<div class="conShow">
			<table border="1" cellspacing="0" cellpadding="0">
				<tr>
					<td width="66px" class="tdColor tdC">序号</td>
					<td width="435px" class="tdColor">会员等级</td>
					<td width="400px" class="tdColor">用户名</td>
					<td width="630px" class="tdColor">添加时间</td>
					<td width="130px" class="tdColor">操作</td>
				</tr>
				<?php foreach ($data as $key => $value) {?>
				<tr height="40px">
					<td><?php echo $value['u_id'] ?></td>
					<td><?php echo $value['r_name'] ?></td>
					<td><span class="name"><?php echo $value['u_name'] ?></span><input type="text" class="u_name" value="<?php echo$value['u_name'] ?>" hidden /></td>
					<td><?php echo $value['created_time'] ?></td>
					<td><a href="javascript:;" class="upd"><img class="operation"
							src="img/update.png"></a> <img class="operation delban"
						src="img/delete.png"></td>
				</tr>
				<?php } ?>
			</table>
			<div class="paging">此处是分页</div>
		</div>
		<!-- user 表格 显示 end-->
	</div>
	<!-- user页面样式end -->
</div>

</div>


	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="img/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗？</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
$(document).on("click",".upd",function(){
	$(".name").hide()
	$(".u_name").show()
})
</script>
</html>