<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Travler-订单</title>
    <base href="http://www.tours.com/admin/" />
    <link rel="stylesheet" type="text/css" href="css/css.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/page.js" ></script> -->
</head>
<body>
<div id="pageAll">
    <div class="pageTop">
        <div class="page">
            <img src="img/coin02.png" /><span><a href="{:url('index/index')}" target="_top">首页</a>&nbsp;-&nbsp;<a>订单系统</a>&nbsp;-</span>&nbsp;订单详情
        </div>
    </div>
    <div class="page">
        <!-- banner页面样式 -->
        <div class="banner">
            <!-- <div class="add">
                <a class="addA" href="{:Url('Spot/spot_add')}">添加景点&nbsp;&nbsp;+</a>
            </div> -->
            <!-- banner 表格 显示 -->
            {volist name='order_details' id='v'}
            <div class="banShow">

                <table border="1" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="250px" class="tdColor tdC">订单编号：</td>
                        <td width="200px" class="tdColor tdC">{$v.order_number}</td>
                    </tr>
                    <tr>
                        <td class="tdColor tdC">用户：</td>
                        <td class="tdColor tdC">{$v.username}</td>
                    </tr>
                    <tr>
                        <td class="tdColor tdC">路线：</td>
                        <td class="tdColor tdC">{$v.route_name}</td>
                    </tr>
                    <tr>
                        <td class="tdColor tdC">下单时间：</td>
                        <td class="tdColor tdC">{$v.order_time}</td>
                    </tr>
                    <tr>
                        <td class="tdColor tdC">订单状态：</td>
                        <td class="tdColor tdC">{$v.order_status == 0 ? "未付款" : "已付款"}</td>
                    </tr>
                    <tr>
                        <td class="tdColor tdC">是否出票：</td>
                        <td class="tdColor tdC">{$v.is_handle == 0 ? "未出票" : "已出票"}</td>
                    </tr>
                    <tr>
                        <td class="tdColor tdC">总价：</td>
                        <td class="tdColor tdC">￥{$v.order_money}</td>
                    </tr>
                </table>
            </div>
            {/volist}
            <!-- banner 表格 显示 end-->
        </div>
        <!-- banner页面样式end -->
    </div>

</div>


<!-- 删除弹出框 -->
<div class="banDel">
    <div class="delete">
        <div class="close">
            <a><img src="img/shanchu.png" /></a>
        </div>
        <p class="delP1">你确定要删除此条记录吗？</p>
        <p class="delP2">
            <a href="#" class="ok yes" onclick="del()">确定</a><a class="ok no">取消</a>
        </p>
    </div>
</div>
<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
    // 广告弹出框
    $(".delban").click(function(){
        $(".banDel").show();
    });
    $(".close").click(function(){
        $(".banDel").hide();
    });
    $(".no").click(function(){
        $(".banDel").hide();
    });
</script>
</html>