<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Shop登录</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/public.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/public.js"></script>
</head>
<body>

	<!-- 登录页面头部 -->
	<div class="logHead">
		<img src="__PUBLIC__/img/logLOGO.png" />
	</div>
	<!-- 登录页面头部结束 -->

	<!-- 登录body -->
	<div class="logDiv">
		<img class="logBanner" src="__PUBLIC__/img/logBanner.png" />
		<div class="logGet">
			<!-- 头部提示信息 -->
			<div class="logD logDtip">
				<p class="p1">注册</p>
				<a href="{:U('Login/login')}" class="p2">去登陆>></a>
			</div>
			<!-- 输入框 -->
			<div class="lgD">
				<img class="img1" src="__PUBLIC__/img/logName.png" /><input type="text"
					placeholder="输入用户名" id="u_name" />
			</div>
			<div class="lgD">
				<img class="img1" src="__PUBLIC__/img/coin06.png" /><input type="text"
					placeholder="电子邮箱" id="u_email" />
			</div>
			<div class="lgD">
				<img class="img1" src="__PUBLIC__/img/logPwd.png" /><input type="password"
					placeholder="输入用户密码" id="u_password" />
			</div>
			<div class="lgD">
				<img class="img1" src="__PUBLIC__/img/logPwd.png" /><input type="password"
					placeholder="确认密码" id="u_pwd" /><span id="pwd_span" color="red"></span>
			</div>
			
			<!-- <div class="lgD logD2">
				<input class="getYZM" type="text" />
				<div class="logYZM">
					<img class="yzm" src="__PUBLIC__/img/logYZM.png" />
				</div>
			</div> -->
			<div class="logC">
				<button id="register">注 册</button>
			</div>
		</div>
	</div>
	<!-- 登录body  end -->

	<!-- 登录页面底部 -->
	<div class="logFoot">
		<p class="p1">版权所有：南京设易网络科技有限公司</p>
		<p class="p2">南京设易网络科技有限公司 登记序号：苏ICP备11003578号-2</p>
	</div>
	<!-- 登录页面底部end -->
</body>
</html>
<script src="__PUBLIC__/jquery.1.12.js"></script>
<script>
	$(document).on("click","#register",function(){
		var u_name = $("#u_name").val()
		var u_password = $("#u_password").val()
		var u_pwd = $("#u_pwd").val()
		var u_email = $("#u_email").val()
		if(u_password==u_pwd){
			$.ajax({
			data:{'u_name':u_name,'u_password':u_password,'u_email':u_email},
			url:"{:U('Login/register_do')}",
			type:"post",
			success:function(msg){
				if(msg==1){
					alert("注册成功")
					window.location.href = "{:U('Login/login')}";
				}else if(msg==2){
					alert("注册失败")
				}else{
					alert("用户名已存在")
				}
			}
		})
			
		}else{
			$("#pwd_span").html("两次密码不匹配");
			return false;
		}
	})
</script>